name: publish

on:
  release:
    types: 'published'
  
jobs:
  publish:
    
    runs-on: 'ubuntu-latest'
    
    steps:    
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: 'main'
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Get Thermo packages
      uses: actions/checkout@v4
      with:
        repository: 'thermofisherlsms/RawFileReader'
        path: 'ThermoPKG'
        token: ${{ secrets.GITHUB_TOKEN }}
        sparse-checkout: 'Libs/NetCore/Net8/*.nupkg'
        sparse-checkout-cone-mode: 'false'
    
    - name: Add Thermo packages as NuGet source
      run: |
        dotnet nuget add source -n ThermoPKG `pwd`/ThermoPKG/Libs/NetCore/Net8
        
    - name: Publish all and zip artifacts
      run: |
        dotnet publish --configuration Release --runtime linux-arm64 main/ThermoRawFileParser.csproj --sc -o publish/linux-arm64
        dotnet publish --configuration Release --runtime osx-arm64 main/ThermoRawFileParser.csproj --sc -o publish/osx-arm64
        cd publish/linux-arm64
        zip -r -q ThermoRawFileParser-${{ github.ref_name }}-linux.zip *
        cd ../osx-arm64
        zip -r -q ThermoRawFileParser-${{ github.ref_name }}-osx.zip *
        
    - name: Upload Linux to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: publish/linux-arm64/ThermoRawFileParser-${{ github.ref_name }}-linux.zip
        tag: ${{ github.ref }}
        
    - name: Upload OSX to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: publish/osx-arm64/ThermoRawFileParser-${{ github.ref_name }}-osx.zip
        tag: ${{ github.ref }}
